{% extends "../partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">PNC Generator</h1>
  <p class="govuk-body">Short form PNC: {{ pncShort }}</p>
  <p class="govuk-body">Long form PNC: {{ pncLong }}</p>
{% endblock %}
